# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [23]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("Weather_Database/Weather_Database.csv")

# Display sample data
vacation_df.head(30)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,21.22,86,100,15.17,snow
1,1,Atuona,PF,-9.8000,-139.0333,77.32,82,16,16.58,light rain
2,2,Tasiilaq,GL,65.6145,-37.6368,35.76,85,100,26.19,light rain
3,3,Deputatskiy,RU,69.3000,139.9000,-23.39,100,83,2.13,broken clouds
4,4,Majene,ID,-3.5403,118.9707,84.54,71,99,3.51,overcast clouds
5,5,Avera,US,33.1940,-82.5271,63.91,67,99,13.06,overcast clouds
6,6,San Vicente,AR,-26.6167,-54.1333,65.57,96,99,3.78,moderate rain
7,7,Lubin,PL,51.4009,16.2015,44.71,89,97,5.84,overcast clouds
8,8,Flinders,AU,-34.5833,150.8552,80.19,72,96,7.00,overcast clouds
9,9,Vila Velha,BR,-20.3297,-40.2925,75.15,89,75,9.22,moderate rain
10,10,Mandurah,AU,-32.5500,115.7000,66.87,46,23,9.84,few clouds
11,11,Mataura,NZ,-46.1927,168.8643,49.96,98,100,2.80,overcast clouds
12,12,Hermanus,ZA,-34.4187,19.2345,54.81,83,8,7.36,clear sky
13,13,Busselton,AU,-33.6500,115.3333,67.15,35,3,5.48,clear sky
14,14,Kaitangata,NZ,-46.2817,169.8464,49.95,94,100,7.02,overcast clouds
15,15,Hobart,AU,-42.8794,147.3294,55.26,93,75,4.61,heavy intensity shower rain
16,16,Bredasdorp,ZA,-34.5322,20.0403,58.10,83,20,7.02,few clouds
17,17,Beira,MZ,-19.8436,34.8389,75.29,94,20,6.42,few clouds
18,18,Taksimo,RU,56.3444,114.8794,11.26,75,91,1.36,overcast clouds
19,19,Carnarvon,AU,-24.8667,113.6333,76.91,32,0,16.73,clear sky
20,20,Cape Town,ZA,-33.9258,18.4232,61.12,88,0,2.30,clear sky
21,21,Lata,PT,40.1629,-8.3327,50.07,82,82,3.56,broken clouds
22,22,Albany,US,42.6001,-73.9662,48.61,77,98,4.00,overcast clouds
23,23,La Dolorita,VE,10.4883,-66.7861,69.94,84,100,1.32,overcast clouds
24,24,Fort William,GB,56.8165,-5.1121,50.31,93,100,4.99,overcast clouds
25,25,Thompson,CA,55.7435,-97.8558,-5.64,92,20,2.30,few clouds
26,26,Bundaberg,AU,-24.8500,152.3500,82.22,66,3,5.99,clear sky
27,27,Esperance,AU,-33.8667,121.9000,58.82,56,78,15.55,broken clouds
28,28,Punta Arenas,CL,-53.1500,-70.9167,48.31,49,0,10.36,clear sky
29,29,Jvari,GE,42.7169,42.0520,45.50,71,12,4.03,few clouds

In [4]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [24]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
#The starting and ending city should be the same city.
vacation_start = "Barrow"
vacation_end =  "Barrow"
stop1 =  "Avera"
stop2 =  "Barrow"
stop3 =  "Avera"

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]  
vacation_stop1 = vacation_df.loc[vacation_df["City"] == stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == stop2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == stop3]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [25]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [26]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [27]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,21.22,86,100,15.17,snow
1,5,Avera,US,33.1940,-82.5271,63.91,67,99,13.06,overcast clouds
2,0,Barrow,US,71.2906,-156.7887,21.22,86,100,15.17,snow
3,5,Avera,US,33.1940,-82.5271,63.91,67,99,13.06,overcast clouds

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [28]:
# Review the formatting template
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))